<!-- Start Page Title Area -->
<div class="page-title-area bg-10 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Contact</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Contact</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Contact Info Area -->
<div class="contact-info-area pt-100">
    <div class="container">
        <div class="contact-info-bg">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info">
                        <i class="ri-map-pin-2-fill"></i>
                        <div class="call-us">
                            <p>
                                Gurudwara Kartapurakh Niwas, Bar majra, SAS Nagar Mohali, Punjab, India - 160055
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info">
                        <i class="ri-phone-fill"></i>
                        <a href="tel:+919815250441" class="call-us">+91 98152 50441</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info">
                        <i class="ri-mail-fill"></i>
                        <a href="mailto:kartapurakhniwas@gmail.com" class="call-us">
                            <span class="__cf_email__" >kartapurakhniwas@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Info Area -->

<!-- Start Contact Area -->
<div class="main-contact-area ptb-100">
    <div class="container">
        <form id="contactForm" [formGroup]="Form">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Get in touch with us</h3>
                    
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>Your name</label>
                                <input formControlName="name" type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>Your email</label>
                                <input formControlName="email" type="email" name="email" id="email" class="form-control" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>Your phone</label>
                                <input formControlName="mobileNo" type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>How Did You Hear About Us? </label>
                                <input  formControlName="referralSource" type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="How Did You Hear About Us?">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea formControlName="notes" name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group checkboxs">
                                <input type="checkbox" id="chb2">
                                <p>
                                    I have read and completely accept the <a href="javascript:void(0)" routerLink="/terms">Terms of service</a> And <a href="javascript:void(0)" routerLink="/privacy">Privacy policy.</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button type="button" class="default-btn" (click)="save()">
                                SEND MESSAGE
                            </button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="maps-area">
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22925.02335176516!2d-73.54098856980922!3d44.091033986446924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccabd668a766871%3A0x5493f35113c5c761!2sMineville%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1621420888489!5m2!1sen!2sbd"></iframe> -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.2982035906957!2d76.69959267537327!3d30.738124074581638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fef05550efa15%3A0x106fb2974a5af85a!2sKarta%20Purakh%20Niwas!5e0!3m2!1sen!2sin!4v1701344762214!5m2!1sen!2sin" ></iframe>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact Area -->