<!-- Start Preloader Area -->
<!-- <div class="preloader">
	<div class="lds-ripple">
		<div></div>
		<div></div>
	</div>
</div> -->
<!-- End Preloader Area -->

<!-- Start Navbar Area -->
<div class="navbar-area">
	<div class="mobile-responsive-nav">
		<div class="container">
			<div class="mobile-responsive-menu">
				<div class="logo">
					<a href="index.html">
						<img src="../../../assets/images/logo.png" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="desktop-nav">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light">
				<a class="navbar-brand" href="index.html">
					<img src="../../../assets/images/logo.png" alt="logo">
				</a>

				<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
					<ul class="navbar-nav m-auto">
						<li class="nav-item">
							<a href="javascript:void(0);" routerLink="/" class="nav-link" routerLinkActive="active">
								HOME 
							</a>
						</li>

						<li class="nav-item">
							<a href="javascript:void(0);" routerLink="/about" class="nav-link" routerLinkActive="active">ABOUT</a>
						</li>
<!-- 
						<li class="nav-item">
							<a href="#" class="nav-link">
								CAUSES 
								<i class="ri-arrow-down-s-line"></i>
							</a>

							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/causes" class="nav-link" routerLinkActive="active">CAUSES</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/causes/details" class="nav-link" routerLinkActive="active">CAUSES DETAILS</a>
								</li>
							</ul>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">
								PAGES
								<i class="ri-arrow-down-s-line"></i>
							</a>

							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/volunteers" class="nav-link" routerLinkActive="active">VOLUNTEERS</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/gallery" class="nav-link" routerLinkActive="active">GALLERY</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/faq" class="nav-link" routerLinkActive="active">FAQ</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/donation" class="nav-link" routerLinkActive="active">DONATION</a>
								</li>
								
								<li class="nav-item">
									<a href="#" class="nav-link">
										USER 
										<i class="ri-arrow-down-s-line"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="javascript:void(0);" routerLink="/user/account" class="nav-link" routerLinkActive="active">MY ACCOUNT</a>
										</li>
										<li class="nav-item">
											<a href="javascript:void(0);" routerLink="/user/login" class="nav-link" routerLinkActive="active">LOG IN</a>
										</li>
										<li class="nav-item">
											<a href="javascript:void(0);" routerLink="/user/register" class="nav-link" routerLinkActive="active">REGISTER</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="javascript:void(0);" class="nav-link">
										EVENTS 
										<i class="ri-arrow-down-s-line"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="javascript:void(0);" routerLink="/events" class="nav-link" routerLinkActive="active">EVENTS</a>
										</li>
										<li class="nav-item">
											<a href="javascript:void(0);" routerLink="/events/events-detail" class="nav-link" routerLinkActive="active">EVENT DETAILS</a>
										</li>
									</ul>
								</li>
								
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/testimonials" class="nav-link" routerLinkActive="active">TESTIMONIALS</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/privacy" class="nav-link" routerLinkActive="active">PRIVACY POLICY</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/terms" class="nav-link" routerLinkActive="active">TERMS OF SERVICE</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/commingsoon" class="nav-link" routerLinkActive="active">COMING SOON</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/nofound" class="nav-link" routerLinkActive="active">404 PAGE</a>
								</li>
							</ul>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">
								BLOG 
								<i class="ri-arrow-down-s-line"></i>
							</a>

							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/blog" class="nav-link" routerLinkActive="active">BLOG</a>
								</li>
								<li class="nav-item">
									<a href="javascript:void(0);" routerLink="/blogdetail" class="nav-link" routerLinkActive="active">BLOG DETAILS</a>
								</li>
							</ul>
						</li> -->

						<li class="nav-item">
							<a href="javascript:void(0);" routerLink="/contact" class="nav-link" routerLinkActive="active">CONTACT</a>
						</li>
					</ul>

					<div class="others-options">
						<ul>
							<li>
								<button type="button" class="search-icon" data-bs-toggle="modal" data-bs-target="#exampleModalsrc">
									<i class="ri-search-line"></i>
								</button>
							</li>
							
							<li>
								<a href="javascript:void(0);" routerLink="/donation" routerLinkActive="active" class="default-btn">
									DONATE NOW
								</a>
							</li>
							<li>
								<div class="navbar-option-item navbar-option-language dropdown language-option"> 
									<button class="dropdown-toggle" type="button" id="language1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="ri-global-line"></i>
										<span class="lang-name">English</span>
									</button>

									<div class="dropdown-menu language-dropdown-menu" aria-labelledby="language1"> 
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/english.png" alt="Image">
											English
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/deutsch.png" alt="Image">
											Deutsch
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/china.png" alt="Image">
											简体中文
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/arbic.png" alt="Image">
											العربيّة
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="others-option-for-responsive">
		<div class="container">
			<div class="dot-menu">
				<div class="inner">
					<div class="circle circle-one"></div>
					<div class="circle circle-two"></div>
					<div class="circle circle-three"></div>
				</div>
			</div>
			
			<div class="container">
				<div class="option-inner">
					<div class="others-options justify-content-center d-flex align-items-center">
						<ul>
							<li>
								<button type="button" class="search-icon" data-bs-toggle="modal" data-bs-target="#exampleModalsrc">
									<i class="ri-search-line"></i>
								</button>
							</li>
							<li>
								<a href="javascript:void(0);" routerLink="/donation" routerLinkActive="active" class="default-btn">
									DONATE NOW
								</a>
							</li>
							<li>
								<div class="navbar-option-item navbar-option-language dropdown language-option"> 
									<button class="dropdown-toggle" type="button" id="language2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="ri-global-line"></i>
										<span class="lang-name">English</span>
									</button>

									<div class="dropdown-menu language-dropdown-menu" aria-labelledby="language2"> 
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/english.png" alt="Image">
											English
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/deutsch.png" alt="Image">
											Deutsch
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/china.png" alt="Image">
											简体中文
										</a>
										<a class="dropdown-item" href="#">
											<img src="../../../assets/images/language/arbic.png" alt="Image">
											العربيّة
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Navbar Area -->

<!-- Search Modal -->
<div class="modal fade search-modal-area" id="exampleModalsrc">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" data-bs-dismiss="modal" class="closer-btn">
                <i class="ri-close-line"></i>
            </button>

            <div class="modal-body">
                <form class="search-box">
                    <div class="search-input">
                        <input type="text" name="Search" placeholder="Search for..." class="form-control">

                        <button type="submit" class="search-btn">
                            <i class="ri-search-line"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal -->


<router-outlet></router-outlet>


<!-- Start Subscribe Area -->   
<section class="subscribe-area pb-100">
    <div class="container">
        <div class="bg-colo-f4f9ef">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="subscribe-content">
                        <h2>Subscribe to us get updated news &  tips in your inbox</h2>
                    </div>
                </div>

                <div class="col-lg-5">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">

                        <button class="default-btn" type="submit">
                            SUBSCRIBE
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>	
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->    


<!-- Start Footer Area -->
<footer class="footer-area bg-f9fafb pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-footer-widget active">
					<a href="index.html" class="logo">
						<img src="assets/images/logo.png" alt="Image">
					</a>
					<p>
						"Energizing change, our slogan 'Empowering Lives, Igniting Hope' signifies a commitment to uplift communities and inspire optimism for all."
					</p>
					<ul class="social-link">
						<li>
							<h3>Follow us:</h3>
						</li>

						<!-- <li>
							<a href="https://www.facebook.com/" target="_blank">
								<i class="ri-facebook-fill"></i>
							</a>
						</li> -->
						<li>
							<a href="https://www.instagram.com/kartapurakh_niwas_sahib/" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
						</li>
						<!-- <li>
							<a href="https://twitter.com/" target="_blank">
								<i class="ri-twitter-fill"></i>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/" target="_blank">
								<i class="ri-youtube-fill"></i>
							</a>
						</li> -->
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="single-footer-widget">
					<h3>Links</h3>

					<ul class="import-link">
						<!-- <li>
							<a href="javascript:void(0);" routerLink="/about" class="nav-link" routerLinkActive="active">
								About
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/user/account" class="nav-link" routerLinkActive="active">
								My account
								<i class="ri-arrow-right-line"></i>
							</a>
						</li> -->
						<li>
							<a href="javascript:void(0);" routerLink="/privacy" class="nav-link" routerLinkActive="active">
								Privacy policy
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/terms" class="nav-link" routerLinkActive="active">
								Terms of service
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<!-- <li>
							<a href="javascript:void(0);" routerLink="/contact" class="nav-link" routerLinkActive="active">
								Contact us
								<i class="ri-arrow-right-line"></i>
							</a>
						</li> -->
					</ul>
				</div>
			</div>

			<!-- <div class="col-lg-3 col-md-6">
				<div class="single-footer-widget">
					<h3>Import Links</h3>

					<ul class="import-link">
						<li>
							<a href="javascript:void(0);" routerLink="/blog" class="nav-link" routerLinkActive="active">
								Blog
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/blogdetail" class="nav-link" routerLinkActive="active">
								Blog Details
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/causes" class="nav-link" routerLinkActive="active">
								Causes
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/causes/details" class="nav-link" routerLinkActive="active">
								Causes Details
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/donation" class="nav-link" routerLinkActive="active">
								Donation
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
					</ul>
				</div>
			</div> -->

			<div class="col-lg-3 col-md-6">
				<div class="single-footer-widget">
					<h3>Find us</h3>

					<ul class="address">
						<li class="location">
							Gurudwara Kartapurakh Niwas, Bar majra, SAS Nagar Mohali, Punjab, India - 160055
						</li>
						<li>
							<a href="mailto:kartapurakhniwas@gmail.com"><span class="__cf_email__" >kartapurakhniwas@gmail.com</span></a>
						</li>
						<li>
							<a href="tel:+919815250441" class="call-us">+91 98152 50441</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer Area -->