<div class="page-title-area bg-8 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Donation</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Donation</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Strat Donation Area -->
<section class="donation-area ptb-100">
    <div class="container">
        <div class="donation-bg donation-bg-three">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-2">
                    <ul class="stap-lavel">
                        <li>
                            <span class="active">01</span>
                        </li>
                        <li>
                            <span>02</span>
                        </li>
                        <li>
                            <span>03</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="donation-form">
                        <h3>Enter your donation</h3>

                        <form>
                            <div class="donation-wrap">
                                <h4>Select currency:</h4>

                                <ul>
                                    <li>
                                        <label class="single-check">
                                            £ (Pound) 
                                            <input type="radio" checked="checked" name="radio-1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="single-check">
                                            € (Euro)
                                            <input type="radio" name="radio-1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="single-check">
                                            $ (Dollar)
                                            <input type="radio" name="radio-1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="donation-wrap">
                                <h4>How often would you like to donate:</h4>

                                <ul>
                                    <li>
                                        <label class="single-check">
                                            Monthly 
                                            <input type="radio" checked="checked" name="radio-2">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="single-check">
                                            One-off
                                            <input type="radio" name="radio-2">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="donation-wrap">
                                <h4>Select the amount:</h4>

                                <ul>
                                    <li>
                                        <label class="single-check">
                                            £5 
                                            <input type="radio" checked="checked" name="radio-3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="single-check">
                                            £15
                                            <input type="radio" name="radio-3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="single-check">
                                            £25
                                            <input type="radio" name="radio-3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <div class="donation-wrap mb-0">
                                <h4>Or enter other amount(optional)</h4>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="£5">
                                </div>

                                <button type="submit" class="default-btn bg-btn">
                                    DONATE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Donation Area -->

