<div class="admin-header">
    <h3>Add Supplier</h3>
    <div class="d-flex justify-content-between">
        <button class="btn" routerLink="/admin/volunteers">
          <mat-icon>arrow_back</mat-icon> Back
        </button>
        <button (click)="save()" class="btn" type="button" style="background-color: #f5b324; color: #ffffff;">
          <mat-icon>save</mat-icon> Save
        </button>
    </div>
</div>
<div class="add-form-wrap">
<form class="form mat-form mt-3 mb-5" [formGroup]="supplierForm">
  <div class="row">
    <!-- Supplier Name -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Supplier Name</mat-label>
        <input formControlName="supplierName" matInput placeholder="Supplier Name">
      </mat-form-field>
    </div>

    <!-- Supplier Type -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Supplier Type</mat-label>
        <mat-select formControlName="supplierType">
          <mat-option [value]="1">Electricity</mat-option>
          <mat-option [value]="2">Milk</mat-option>
          <mat-option [value]="3">Cow Feed</mat-option>
          <mat-option [value]="4">Construction Material</mat-option>
          <mat-option [value]="5">Salary</mat-option>
          <mat-option [value]="6">Hospital Expenses</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Contact Email -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Contact Email</mat-label>
        <input formControlName="contactEmail" type="email" matInput placeholder="Contact Email">
      </mat-form-field>
    </div>

    <!-- Contact Phone -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Contact Phone</mat-label>
        <input formControlName="contactPhone" matInput placeholder="Contact Phone">
      </mat-form-field>
    </div>

    <!-- Address -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput placeholder="Address">
      </mat-form-field>
    </div>

    <!-- Notes -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label>Notes</mat-label>
        <input formControlName="notes" matInput placeholder="Notes">
      </mat-form-field>
    </div>

    <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
      <div class="form-check d-block p-0">
        <label class="form-check-label">Is Active?</label>
      </div>
      <mat-radio-group formControlName="isActive" aria-label="Is Active?">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div> -->
  </div>
</form>
</div>