<!-- Start Page Title Area -->
<div class="page-title-area bg-4 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Volunteers</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Volunteers</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Volunteers Area -->    
<section class="volunteers-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">VOLUNTEERS</span>
            <h2>Our volunteers who are always going through the service</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-1.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Debbie Kopf</h3>
                        <span>Volunteer</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-2.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Anna Smith</h3>
                        <span>Volunteer</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-3.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Juhon Smith</h3>
                        <span>CEO</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Volunteers Area -->

<!-- Start Volunteers Join Area -->  
<section class="volunteers-area pb-100">
    <div class="container">
        <div class="volunteers-bg">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="section-title section-title-left">
                        <span class="top-title">VOLUNTEER WITH US</span>
                        <h2>Our volunteers who are always going through the service</h2>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-right">
                        <a href="volunteers.html" class="default-btn">JOIN US NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Volunteers Join Area -->