i[class^="fa"] {
    cursor: pointer;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    h3 {
        margin: 0;
        margin-top: 3px;
    }
    .btn {
        margin-left: 15px;
        background-color: #bff8cf !important;
        color: rgba(0, 0, 0, 0.5411764706) !important;
        border-radius: 5px;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        transition: .3s all ease-in;
        &:hover {
            background-color: #a6e8b8 !important;
        }
        .mat-icon {
            margin-right: 5px;
        }
    }
}

.table-responsive {
    max-height: calc(100vh - 173px);
    margin-top: 15px;
}

.ng-select.volunteer {
    .ng-select-container {
        width: 100% !important;
    }
}

.add-form-wrap {
    margin-top: 20px;
}
.fa-trash {
    color: red;
}

.btn {
    line-height: 15px !important;
}

label .red {
    // color: red;
}