<!-- Start Page Title Area -->
<div class="page-title-area bg-19 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Causes details</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Causes details</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Causes Details Page Area -->
<section class="causes-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="causes-details-content mr-15">
                    <div class="event-details-img">
                        <img src="assets/images/events/event-7.jpg" alt="Image">
                    </div>

                    <div class="causes-top-content">
                        <div class="causes-content">
                            <div  class="single-causes style-two">
                                <div class="bar-1">
                                    <h3>Education for poor children</h3>

                                    <ul class="total-donate">
                                        <li><span>Raised: </span>$15,000.00</li>
                                        <li class="goal"><span>Goal: </span>$20,000.00</li>
                                    </ul>
        
                                    <div class="bar" data-width="75%">
                                        <div class="bar-inner"></div>
                                        <div class="bar-percent">75%</div>
                                    </div>
        
                                    <div class="donation-wrap">
                                        <h4>Select the amount:</h4>

                                        <ul>
                                            <li>
                                                <label class="single-check">
                                                    £5 
                                                    <input type="radio" checked="checked" name="radio-3">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="single-check">
                                                    £15
                                                    <input type="radio" name="radio-3">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="single-check">
                                                    £25
                                                    <input type="radio" name="radio-3">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="donation-wrap mb-0">
                                        <h4 class="mb-10">Or enter other amount(optional)</h4>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="£5">

                                            <button type="submit" class="default-btn">
                                                DONATE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <p>Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a Curabitur</p>

                            <div class="gap-mb-20"></div>

                            <h3>Cause description</h3>
                            <p>Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.</p>

                            <div class="gap-mb-20"></div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-causess">
                                        <img src="assets/images/causes/causes-7.jpg" alt="Image">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="single-causess">
                                        <img src="assets/images/causes/causes-8.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>

                            <div class="gap-mb-20"></div>

                            <p>Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-sidebar ml-15">
                    <div class="sidebar-widget">
                        <h3>Related causes</h3>

                        <div class="related-causes-slider owl-carousel owl-theme">
                            <div class="single-causes style-two">
                                <div class="causes-img">
                                    <a href="causes-details.html">
                                        <img src="assets/images/causes/causes-1.jpg" alt="Image">
                                        <span class="tag">Education</span>
                                    </a>
                                </div>
        
                                <div class="bar-1">
                                    <h3>
                                        <a href="causes-details.html">
                                            Education for poor children
                                        </a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
        
                                    <div class="bar" data-width="75%">
                                        <div class="bar-inner"></div>
                                        <div class="bar-percent">75%</div>
                                    </div>
        
                                    <ul class="total-donate">
                                        <li><span>Raised: </span>$15,000.00</li>
                                        <li class="goal"><span>Goal: </span>$20,000.00</li>
                                    </ul>
        
                                    <ul class="donate-read">
                                        <li>
                                            <a href="donation.html" class="default-btn border-radius-btn">
                                                DONATE NOW
                                            </a>
                                            <a href="causes-details.html" class="read-more">
                                                READ MORE
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="single-causes style-two">
                                <div class="causes-img">
                                    <a href="causes-details.html">
                                        <img src="assets/images/causes/causes-2.jpg" alt="Image">
                                        <span class="tag">Water delivery</span>
                                    </a>
                                </div>
        
                                <div class="bar-1">
                                    <h3>
                                        <a href="causes-details.html">
                                            Water for all children
                                        </a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>
        
                                    <div class="bar" data-width="90%">
                                        <div class="bar-inner"></div>
                                        <div class="bar-percent">90%</div>
                                    </div>
        
                                    <ul class="total-donate">
                                        <li><span>Raised: </span>$8,000.00</li>
                                        <li class="goal"><span>Goal: </span>$10,000.00</li>
                                    </ul>
        
                                    <ul class="donate-read">
                                        <li>
                                            <a href="donation.html" class="default-btn border-radius-btn">
                                                DONATE NOW
                                            </a>
                                            <a href="causes-details.html" class="read-more">
                                                READ MORE
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-widget categories mb-0">
                        <h3>Categories</h3>

                        <ul>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Charity
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Clean water
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Electrical
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Education
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Medical
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Food
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Donation
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="ri-arrow-right-s-line"></i>
                                    Health
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Causes Details Page Area -->