<!-- Start Page Title Area -->
<div class="page-title-area bg-2 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Causes</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Causes</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Our Causes Area -->
<section class="our-causess-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">OUR CAUSES</span>
            <h2>You can help the kids by donating</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-1.jpg" alt="Image">
                            <span class="tag">Education</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Education for poor children
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="75%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">75%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$15,000.00</li>
                            <li class="goal"><span>Goal: </span>$20,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-2.jpg" alt="Image">
                            <span class="tag">Water delivery</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Water for all children
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="90%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">90%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$8,000.00</li>
                            <li class="goal"><span>Goal: </span>$10,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-3.jpg" alt="Image">
                            <span class="tag">Medical</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Help for treatment
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="50%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">50%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$10,000.00</li>
                            <li class="goal"><span>Goal: </span>$20,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-4.jpg" alt="Image">
                            <span class="tag">Food</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Provide healthy food
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="60%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">60%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$12,000.00</li>
                            <li class="goal"><span>Goal: </span>$20,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-5.jpg" alt="Image">
                            <span class="tag">Residence</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Accommodation for poor
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="90%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">90%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$18,000.00</li>
                            <li class="goal"><span>Goal: </span>$20,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-causes style-two">
                    <div class="causes-img">
                        <a href="causes-details.html">
                            <img src="assets/images/causes/causes-6.jpg" alt="Image">
                            <span class="tag">Charity</span>
                        </a>
                    </div>

                    <div class="bar-1">
                        <h3>
                            <a href="causes-details.html">
                                Raise fund to help children 
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ...</p>

                        <div class="bar" data-width="75%">
                            <div class="bar-inner"></div>
                            <div class="bar-percent">75%</div>
                        </div>

                        <ul class="total-donate">
                            <li><span>Raised: </span>$15,000.00</li>
                            <li class="goal"><span>Goal: </span>$20,000.00</li>
                        </ul>

                        <ul class="donate-read">
                            <li>
                                <a href="donation.html" class="default-btn border-radius-btn">
                                    DONATE NOW
                                </a>
                                <a href="causes-details.html" class="read-more">
                                    READ MORE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-12">
                <div class="load-more text-center">
                    <button class="default-btn">
                        LOAD MORE
                    </button>
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- End Our Causes Area -->

