<div class="admin-header">
    <h3>Donations</h3>
    <div class="d-flex justify-content-between">
        <!-- <input type="text" class="form-control" placeholder="Search ...">
        <ng-select [(ngModel)]="selectedCar" class="ml-4">
            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
         </ng-select> -->
         <button (click)="exportAsExcel()" class="btn" > <i class="fa-solid fa-file-excel mr-1"></i> Export to Excel</button>
        <button *ngIf="gl.setRowData" routerLink="/donations/add" class="btn" style="background-color: #f5b324; color: #ffffff;">
            <i class="fa-solid fa-pen-to-square mr-1"></i>  EDIT
        </button>
        <button *ngIf="gl.setRowData" (click)="delete()" class="btn" style="background-color: #ffcecd !important; color: #ffffff;">
            <i class="fa-solid fa-trash mr-1"></i>  delete
        </button>
        <button *ngIf="!gl.setRowData" routerLink="/donations/add" class="btn" style="background-color: #f5b324; color: #ffffff;">
            <i class="fa-solid fa-plus mr-1"></i>  Add New
        </button>
    </div>
</div>

<div *ngIf="getpaged">
    <ag-grid-angular [rowData]="getpaged" #agGrid id="myGrid" class="ag-theme-balham table-size"
        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="50" 
        rowSelection="single" (selectionChanged)="onSelectionChanged()"
        [defaultColDef]="defaultColDef" >
    </ag-grid-angular>
</div>
