<div class="admin-header">
    <h3>Donations</h3>
    <div class="d-flex justify-content-between">
        <!-- <input type="text" class="form-control" placeholder="Search ...">
        <ng-select [(ngModel)]="selectedCar" class="ml-4">
            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
         </ng-select> -->
         <button *ngIf="gl.setRowDataArray.length > 0" (click)="printReciept()" class="btn" > <mat-icon>print</mat-icon> Print Receipt</button>
         <button *ngIf="gl.setRowDataArray.length == 1" routerLink="/admin/donations/add" class="btn" style="background-color: #f5b324; color: #ffffff;">
            <mat-icon>edit</mat-icon>  Edit
        </button>
        <button *ngIf="gl.setRowDataArray.length == 1" (click)="delete()" class="btn" style="    margin-right: 15px;background-color: #ffcecd !important; color: #ffffff;">
            <mat-icon>delete</mat-icon>  Delete
        </button>

        <button [matMenuTriggerFor]="menu" class="btn" style="background-color: #f5b324; color: #ffffff;">
            <mat-icon>manage_search</mat-icon>  Filter
        </button>
        <mat-menu #menu="matMenu" xPosition="before" class="donation-filter">
            <div class="p-4">
                    <mat-form-field appearance="fill" class="w-100 mb-2" (click)="$event.stopPropagation()">
                      <mat-label>Donor Name</mat-label>
                      <input [(ngModel)]="donorNameFilter" matInput placeholder="Donor Name">
                    </mat-form-field>

                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>From Date</mat-label>
                    <input [(ngModel)]="fromDate" matInput [matDatepicker]="picker" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        
                <mat-form-field appearance="fill" class="w-100 mb-2">
                    <mat-label>To Date</mat-label>
                    <input [(ngModel)]="toDate" matInput [matDatepicker]="picker1" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div class="d-flex align-items-center justify-content-between">
                    <button (click)="clearSearchFilter()" class="btn d-flex align-items-center" style="    margin-right: 15px;background-color: #ffcecd !important; color: rgba(0, 0, 0, 0.5411764706) !important;">
                        <mat-icon class="me-1">close</mat-icon>  Clear
                    </button>
                    <button (click)="searchDonations()" class="btn d-flex align-items-center" style="background-color: #bff8cf !important;
                    color: rgba(0, 0, 0, 0.5411764706) !important;
                ">
                        <mat-icon class="me-1">search</mat-icon>  Submit
                    </button>

                </div>
            </div>

        </mat-menu>

        <!-- <input type="file" id="import" (change)="importExcel($event)" style="display: none">
        <label for="import" class="btn" > <mat-icon>upload_file</mat-icon> Upload Excel</label> -->

        <button (click)="exportAsExcel()" class="btn" > <mat-icon>description</mat-icon> Export to Excel</button>
        <button (click)="addNew()" class="btn" style="background-color: #f5b324; color: #ffffff;">
            <mat-icon>add_circle</mat-icon>  Add New
        </button>
    </div>
</div>

<div *ngIf="filteredDonations">
    <ag-grid-angular [rowData]="filteredDonations" #agGrid id="myGrid" class="ag-theme-balham table-size"
        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="50" 
        rowSelection="multiple" (selectionChanged)="onSelectionChanged()"
        [defaultColDef]="defaultColDef" >
    </ag-grid-angular>
</div>
