<h1 mat-dialog-title class="m-0">Donation Receipt</h1>

<div  mat-dialog-content class="content-body add-form payment-popup pb-0">
    <div #myDiv>
    <div class="wrap" *ngFor="let item of this.gl.setRowDataArray; let i = index">
        <div class="d-flex justify-content-between align-items-center text-center">
            <div class="text-left"><h3>PAN : AAATS3467P</h3></div>
            <div>
                <span class="iso">AN ISO 9001 - 2000 CERT. TRUST</span>
            </div>
            <div></div>
        </div>
        <div class="text-center">
            <h1>SEWAK CHARITABLE TRUST (Regd.)</h1>
            <h4>Regd. Office: SCO 25, First Floor, Sector 18-C, Chandigarh- 160 018</h4>
            <h5>Admin Office: Gurudwar Karta Purakh Niwas, Badmajra Colony, Badmajra, Mohali</h5>
            <h5>Branch Office: Village Chhoti-Badi Naggal, Tehsil Kharar, Distt. Mohali (Pb.)</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-top: 10px">
            <div><b>Receipt No.</b> SCT/976987</div>
            <div class="text-right"><b>Receipt Issued:</b> DD/MM/YYYY</div>
        </div>
        <div><b>Donated By: </b>Name</div>
        <div><b>Address: </b>Address</div><br>
        <div>
            <div><b>Date of Donation: </b> DD/MM/YYYY</div>
            <div><b>Amount Donated: </b>(Amount in words)</div>
            <div><b>Vide Cash/Cheque/Draft No./Online Banking: </b>ONLINE BANKING</div>
            <div><b>Towards: </b> Charitable Donation</div>
        </div>
        <br>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="rupees">
                    Rs. 10,000/-
                </span><br>
                <span style="display: inline-block; margin-top: 10px">
                    SUBJECT TO<br>
                    ENCASHMENT OF CHEQUE
                </span>
            </div>
            <div class="text-center" >
                <span class="boxed">
                    Donations are exempt u/s 80G of I.T. Act 1961,<br>
                    vide Unique Registration No. AAATS3467PF20101<br>
                    Dtd. 07-04-2022 Issued by PCIT/CIT
                </span>
                <br>
                <span class="iso" style="margin-top: 5px; display: inline-block">
                    IN THE SERVICE OF HUMANITY, SINCE 1994
                </span>
            </div>
            <div class="text-right">
                for Sewaks' Charitable Trust (Regd.)<br>
                IMAGE<br>
                Authorised Signatory
            </div>
        </div>
        <div class="divider" *ngIf="isEven(i)"></div>
        <!-- <div *ngIf="this.gl.setRowData.length != (i - 1)"> -->
            <div class="pagebreak" *ngIf="isOdd(i)"></div>
        <!-- </div> -->
    </div>
</div>
</div>

<div mat-dialog-actions align="end">
    <button class="btn" (click)="onNoClick()">No Thanks</button>
    <button class="btn btn-primary ms-2" (click)="printPage()">Generate</button>
  </div>