<!-- Start Page Title Area -->
<div class="page-title-area bg-7 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>FAQ</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">FAQ</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2><span>Frequently Asked Questions</span></h2>   
        </div>

        <div class="faq-accordion">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title active" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        01. Is Leud a non-profit organization?
                    </a>

                    <div class="accordion-content show">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>
                
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        02. Where does Leud money come from?
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        03. How do you find areas for meal distribution?	
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        04. How is the charity money spent?
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        05. How is charity fund collection?
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        06. What payment methods do you accept?
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="ri-add-line"></i>
                        07. What is Leud fundraising?		
                    </a>

                    <div class="accordion-content">
                        <span>Ans:</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio soluta fuga illum, beatae perspiciatis similique officia, id repellendus voluptatum impedit alias, praesentium omnis neque exercitationem quam minima expedita vitae incididunt ut labore et dolore magna.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End FAQ Area -->