<!-- Start Page Title Area -->
<div class="page-title-area bg-1 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>About</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">About</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area about-style-three ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img mr-15">
                    <img src="assets/images/about-img.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content page-style ml-15">
                    <!-- <span class="top-title">ABOUT US</span>
                    <h2>We are Leud charity foundation</h2>
                    
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, porttitor</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, enim iure! Reprehenderit facilis reiciendis, harum odit esse animi repellat istet</p>

                    <ul>
                        <li>
                            <i class="ri-check-line"></i>
                            20+ years of experience
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Let's use donation properly
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            Our actions are proof of our Believe
                        </li>
                        <li>
                            <i class="ri-check-line"></i>
                            We do charity events every month
                        </li>
                    </ul> -->
                    <div class="about-content ml-15">
                        <span class="top-title">ABOUT US</span>
                        <h2>Sewak's Charitable Trust</h2>
                        <p>
                            "Our charitable trust has been a beacon of compassion, providing free food, music classes, and soon, computer education, since 18 years. Currently, we're constructing a Rehabilitation center, reinforcing our commitment to holistic community well-being. Rooted in empathy, our mission embraces diverse initiatives, empowering individuals with nourishment, education, and the promise of a brighter future. Join us in our journey to build, educate, and uplift, as we continue to make a meaningful impact in the lives of those we serve."
                        </p>
                        <!-- <a href="about.html" class="default-btn">
                            READ MORE
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Counter Area -->
<section class="counter-area bg-f9fafb pb-70 mb-5">
    <div class="container">
        <div class="counter-bg pt-100">
            <div class="section-title">
                <span class="top-title">SOME STATISTIC</span>
                <h2>We want to show the audience some statistics of our work</h2>
            </div>
            
            <!-- <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <img src="assets/images/icon/icon-5.png" alt="Image">
                        <h2>
                            <span class="odometer" data-count="153720">00</span> 
                        </h2>
                        <h4>Meals served</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <img src="assets/images/icon/icon-6.png" alt="Image">
                        <h2>
                            <span class="odometer" data-count="153720">00</span> 
                        </h2>
                        <h4>Nights shelter</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <img src="assets/images/icon/icon-7.png" alt="Image">
                        <h2>
                            <span class="target">$</span>
                            <span class="odometer" data-count="2.35">00</span> 
                            <span class="target">M</span>
                        </h2>
                        <h4>Funds spent</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <img src="assets/images/icon/icon-8.png" alt="Image">
                        <h2>
                            <span class="odometer" data-count="12562">00</span> 
                        </h2>
                        <h4>Supporting donors</h4>
                    </div>
                </div>
            </div> -->
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-mission">
                        <img src="assets/images/icon/icon-4.png" alt="Image">
                        <h3>Langar Sewa</h3>
                        <p>
                            Our charitable service provides daily free, wholesome food to hospitals and trains, spreading comfort and sustenance to those who need it most.
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-sm-6">
                    <div class="single-mission">
                        <img src="assets/images/icon/icon-2.png" alt="Image">
                        <h3>Rehabilitation Center</h3>
                        <p>
                            Addressing age-related or injury-induced decline, the board initiates a Rehabilitation center for underprivileged individuals, focusing on adaptation, education, and independence. Construction underway, facing funding challenges.
                        </p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-sm-6">
                    <div class="single-mission">
                        <img src="assets/images/icon/icon-1.png" alt="Image">
                        <h3>Music Classes</h3>
                        <p>
                            Elevating communities through the universal language of music. Our charitable trust proudly offers free music classes, fostering creativity, skill development, and joy for individuals of all ages and backgrounds.
                        </p>
                    </div>
                </div>
    
               
    
                <div class="col-lg-3 col-sm-6">
                    <div class="single-mission">
                        <img src="assets/images/icon/icon-3.png" alt="Image">
                        <h3>Computer Education</h3>
                        <p>
                            Empowering futures through technology. Our charitable trust is delighted to offer free upcoming computer education classes, providing essential skills and opening doors to opportunities for all enthusiastic learners.
                        </p>
                    </div>
                </div>
    
                
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->

<!-- Start What We Do Area -->
<!-- <section class="what-we-do-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="what-we-do-content">
                    <span class="top-title">WHAT WE DO</span>
                    <h2>Manage all activities from our foundation</h2>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcor per sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, portti tor at sem. Praesent sapien massa, convallis.</p>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Care and protection	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Water delivery	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Adopt a child	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Medical camps	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Cancer treatment	
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Medicine help	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Education help
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Special needs
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Safe house	
                                </li>
                                <li>
                                    <i class="ri-check-line"></i>
                                    Food collect	
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="what-we-do-img">
                    <img src="assets/images/what-we-do-img.png" alt="Image">

                    <div class="what-we-do-play">
                        <a href="https://www.youtube.com/watch?v=dieB9zAJXGE" class="video-btn popup-youtube">
                            <i class="ri-play-fill"></i>
                        </a>
                    </div>

                    <img src="assets/images/what-we-do-shape.png" class="what-we-do-shape" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End What We Do Area -->

<!-- Start Volunteers Area -->    
<!-- <section class="volunteers-area volunteers-bg-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">VOLUNTEERS</span>
            <h2>Our volunteers who are always going through the service</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-1.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Debbie Kopf</h3>
                        <span>Volunteer</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-2.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Anna Smith</h3>
                        <span>Volunteer</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-volunteers">
                    <img src="assets/images/volunteers/team-3.jpg" alt="Image">

                    <div class="volunteer-content">
                        <h3>Juhon Smith</h3>
                        <span>CEO</span>

                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Volunteers Area -->     

<!-- Start Testimonial Area -->
<!-- <section class="testimonial-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="top-title">TESTIMONIAL</span>
            <h2>What clients say about our performance</h2>
        </div>

        <div class="testimonial-slider owl-carousel owl-theme">
            <div class="single-testimonial-content">
                <div class="testimonial-avatar">
                    <img src="assets/images/testimonial/testimonial-1.jpg" class="avatar" alt="Image">
                    <img src="assets/images/testimonial/quat.png" class="quat" alt="Image">
                    <h3>George Collins</h3>
                    <span>Founder & CEO</span>
                </div>

                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.”</p>

                <ul>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                </ul>
            </div>

            <div class="single-testimonial-content">
                <div class="testimonial-avatar">
                    <img src="assets/images/testimonial/testimonial-2.jpg" class="avatar" alt="Image">
                    <img src="assets/images/testimonial/quat.png" class="quat" alt="Image">
                    <h3>Alex Dew</h3>
                    <span>Company Manager</span>
                </div>

                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.”</p>

                <ul>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                    <li>
                        <i class="ri-star-fill"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> -->
<!-- End Testimonial Area -->

<!-- Start Partner Area -->
<!-- <div class="partner-area pb-100">
    <div class="container">
        <div class="partner-bg style-two">
            <span>OUR DONORS AROUND THE WORLD</span>

            <div class="partner-slider owl-carousel owl-theme">
                <div class="single-partner">
                    <img src="assets/images/partners/partner-7.png" alt="Image">
                </div>
                <div class="single-partner">
                    <img src="assets/images/partners/partner-8.png" alt="Image">
                </div>
                <div class="single-partner">
                    <img src="assets/images/partners/partner-9.png" alt="Image">
                </div>
                <div class="single-partner">
                    <img src="assets/images/partners/partner-10.png" alt="Image">
                </div>
                <div class="single-partner">
                    <img src="assets/images/partners/partner-11.png" alt="Image">
                </div>
                <div class="single-partner">
                    <img src="assets/images/partners/partner-12.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Partner Area -->
  