<!-- Start Page Title Area -->
<div class="page-title-area bg-3 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Events</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Events</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Event Area -->
<section class=" event-bg-area bg-ffffff pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">LATEST EVENTS</span>
            <h2>Check out our upcoming latest events</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-1.jpg" alt="Image">
                        </a>

                        <p class="date">11 <span>June</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                4502 Oakway lane woodland hills, CA 91303
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                Education for poor children
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-2.jpg" alt="Image">
                        </a>

                        <p class="date">18 <span>June</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                4643 Cedarstone drive toledo, OH 43604
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                Events with health awareness
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-3.jpg" alt="Image">
                        </a>

                        <p class="date">25 <span>June</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                1098 Duff avenue rupert, VT 05768
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                Ensuring habita for floating
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-4.jpg" alt="Image">
                        </a>

                        <p class="date">02 <span>July</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                572 Clay Lick road westminster, CO 80030
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                They provide assistance to kids
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-5.jpg" alt="Image">
                        </a>

                        <p class="date">09 <span>July</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                43 Lawman avenue reston, VA 22070
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                Event with children's food habits
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-event style-two">
                    <div class="event-img">
                        <a href="event-details.html">
                            <img src="assets/images/events/event-6.jpg" alt="Image">
                        </a>

                        <p class="date">16 <span>July</span></p>
                    </div>

                    <div class="single-event-content">
                        <ul>
                            <li>
                                <i class="ri-time-line"></i>
                                09:00 AM - 12:00 PM
                            </li>
                            <li>
                                <i class="ri-map-pin-2-line"></i>
                                4704 Barnes street winter park, FL 32789
                            </li>
                        </ul>

                        <h3>
                            <a href="event-details.html">
                                Event with charity fund increase
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>

                        <a href="event-details.html" class="default-btn border-btn">
                            READ MORE
                        </a>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-12">
                <div class="load-more text-center">
                    <button class="default-btn">
                        LOAD MORE
                    </button>
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- End Event Area -->
