<!-- Start Page Title Area -->
<div class="page-title-area bg-9 ht-auto">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">Blog</li>
            </ul>
        </div>
    </div>

    <div class="page-bg-shape">
        <img src="assets/images/page-bg/page-bg-shape.png" alt="Image">
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Post Area --> 
<section class="blog-post-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">BLOG POST</span>
            <h2>Some recent updates blog posts from us</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-1.jpg" alt="Image">
                    </a>

                    <p class="date">11 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                How to get started fundraising for kids
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-2.jpg" alt="Image">
                    </a>

                    <p class="date">18 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                Students take the initiative to help children
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-3.jpg" alt="Image">
                    </a>

                    <p class="date">25 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                The right guideline to donate for homeless people
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-4.jpg" alt="Image">
                    </a>

                    <p class="date">03 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                What you need to know about the food crisis
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-5.jpg" alt="Image">
                    </a>

                    <p class="date">02 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                7 Important tips to increase the charity fund
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog style-two">
                    <a href="blog-details.html">
                        <img src="assets/images/blog/blog-3.jpg" alt="Image">
                    </a>

                    <p class="date">01 <span>June</span></p>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-user-smile-line"></i>
                                <a href="author.html">
                                    By Andrew
                                </a>
                            </li>
                            <li>
                                <i class="ri-chat-smile-2-line"></i>
                                <a href="author.html">
                                    Comments
                                </a>
                            </li>
                        </ul>

                        <h3>
                            <a href="blog-details.html">
                                How can we help and protect the kids health?
                            </a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
                    </div>
                </div>
            </div>
            
            <!--
            <div class="col-12">
                <div class="load-more text-center">
                    <button class="default-btn">
                        LOAD MORE
                    </button>
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- End Blog Post Area -->